@using ECommerceSolution.WEB.Areas.Admin.ViewModel.VendorTypeModels
@model CreateVendorTypeModel

@{
    ViewData["Title"] = "Create Vendor Type";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-6 align-self-center">
        <h3>Add New Vendor Type</h3>
    </div>
    <div class="col-6 text-right font-12">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
        &gt; <a asp-area="Admin" asp-controller="VendorType" asp-action="Index">Vendor Types</a> &gt; Create Vendor Type
    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->

<form asp-area="Admin" asp-controller="VendorTypes" asp-action="Create" method="post" asp-antiforgery="true" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-wrap form-wrap2 col-12">
                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label font-16 mb-1">Vendor Type</label>
                                <div>
                                    <input asp-for="TypeName" class="form-control textarea-lg">
                                </div>
                                <span asp-validation-for="TypeName" class="text-danger"></span>
                            </div>
                         
                        </div>
                    </div>
                    <div class="5">
                        <button type="submit" class="btn btn-rounded waves-effect waves-light bg-green font-14 text-white">Save</button>
                        <a asp-area="Admin" asp-controller="VendorType" asp-action="Index"
                           class="btn btn-rounded waves-effect waves-light btn-outline-default font-14">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>