@using ECommerceSolution.WEB.Areas.Admin.ViewModel.VendorTypeModels
@model CreateVendorTypeModel

@{
    ViewData["Title"] = "Vendor Type Details";
}

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-6 align-self-center">
        <h3>Vendor Type Details</h3>
    </div>
    <div class="col-md-6 text-right font-12">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a> &gt;
        <a asp-area="Admin" asp-controller="VendorTypes" asp-action="Index">Vendor Types</a> &gt; Vendor Type Details
    </div>
    <div class="">
        <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10">
            <i class="ti-settings text-white"></i>
        </button>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                Vendor Type
            </div>
            <div class="col-md-10">
                @Model.TypeName
            </div>
        </div>

      @*   <div class="row mt-15">
            <div class="col-md-2">
                Description
            </div>
            <div class="col-md-10">
                @Model.Description
            </div>
        </div> *@
        <div class="row mt-25 justify-content-start pl-3">
            <a asp-area="Admin" asp-controller="VendorTypes" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger mr-md-3">
                Delete
            </a>
            <a asp-area="Admin" asp-controller="VendorTypes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-md-3">
                Edit
            </a>
            <a asp-area="Admin" asp-controller="VendorTypes" asp-action="Index" class="btn btn-warning">
                Back to list
            </a>
        </div>
    </div>
</div>
