@model ECommerceSolution.WEB.ViewModels.LogInViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
    
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
   @*  <script>
        $(document).ready(function () {
            const data = @Html.Raw(cartItems.ToJson());
            cartItems = cartItems.concat(data);
            shoppingCartBoxId.empty().append(prepare());
        });
    </script> *@
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            @if (ViewBag.LoginRedirectMessage != null)
            {
                string cls = (ViewBag.LoginRedirectMessage as string)!.ToLower().Contains("failed") ? "danger" : "success";

                <div class="alert alert-@cls text-center font-20" role="alert">
                    <strong>@ViewBag.LoginRedirectMessage</strong>
                </div>
            }

            <div class="login">
                <h2>Login</h2>
                <form asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post" asp-antiforgery="true">
                    <div class="form-group">
                        <label for="exampleInputEmail1"><strong>Username or email address *</strong></label>
                        <input type="email" asp-for="UserName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><strong>Password *</strong></label>
                        <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <input name="" type="checkbox" value="">
                                Save Password
                            </div>
                            <div class="col-6 text-right"><a asp-controller="Account" asp-action="ForgetPassword">Forget your Password</a></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-center mt-3">
                        <strong>Or</strong>
                        <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl" class="btn btn-primary">Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>