<footer class="footer">
    <div class="row">
        <div class="col-md-6 col-sm-6 font-12">Copyrights 2022. OzzyMart. All Rights Reserved</div>
        <div class="col-md-6 col-sm-6 text-right font-12">Designed & Developed by <a href="https://www.simplex.com/" target="_blank" class="text-themecolor">Simplex</a></div>
    </div>
</footer>